* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 2.5em; 
    color: #3d9a54; 
    margin-bottom: 1em; 
}

h2 {
    font-size: 28px; 
    color: #1e1e1e; 
    margin-bottom: 1em; 
}

p {
    font-size: 1.2em;
    color: #6f6f6f; 
    line-height: 1.5; 
}


.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; 
    text-align: center;    
    margin: 10px;
}

.game-item {
    background-color: #273831;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 1em;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}



.game-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.game-item img {
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #1e1e1e;
}


header {
    background-color: #46534a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* Esto seria para la seccion del header, donde dice Inicio, Juegos,etc */
nav ul {
    list-style: none;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #32f08b;
}

.btn {
    display: inline-block;
    background-color: #32f08b;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: auto; 
    display: block; 
    width: fit-content; 
}

.btn:hover {
    background-color: #0f512e;
}

footer {
    background-color:#46534a;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
}


  .article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.article {
    background-color: #aeddcd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.article img,
.article video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.read-more {
    display: block;
    text-align: center;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

 .lista_juegos
{
color:rgb(66, 107, 133);
font-size: 18px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

em
{
    color:rgb(66, 107, 133);
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inicio {
    background-image: url('Images/bd05efb5dd8a7409cb6c4369aa9523ab.jpg');
    background-size: auto;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.inicio-content {
    max-width: 800px;
    margin: 0 auto;
}

.venta-videojuegos {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

.venta-videojuegos-content {
    max-width: 800px;
    margin: 0 auto;
}

.venta-videojuegos h2 {
    font-size: 28px;
}


.guia-juegos-gratis {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.guia-juegos-gratis-content {
    max-width: 800px;
    margin: 0 auto;
}

.guia-juegos-gratis h2 {
    font-size: 28px;
}


.venta-videojuegos-image,
.guia-juegos-gratis-image {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.venta-videojuegos-image img,
.guia-juegos-gratis-image img {
    max-width: 100%;
    width: 800px;
    height: auto;
}


.btn-destacado {
    background-color: #6ed39d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.btn-destacado:hover {
    background-color: #327d56;
}


.contenido-venta {
    text-align: center;
    padding: 40px;
}

.grilla-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.juego {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.juego img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-comprar {
    background-color:  #6ed39d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-comprar:hover {
    background-color:#327d56;
}

.recomendaciones {
    margin-top: 40px;
}

.recomendaciones h2 {
    font-size: 24px;
}

.recomendaciones ul {
    list-style: none;
    padding: 0;
}

.recomendaciones li {
    font-size: 16px;
    margin-bottom: 10px;
}

.formulario-contacto {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

.formulario-contacto h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.btn-enviar {
    background-color: #6ed39d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #22573a;
}

.logo {
    position: absolute;
    top: 0px;
    left: 10px;
    max-width: 100%; 
    height: auto; 
    z-index: 1000; 
    width: 100px;
}










